{% extends "nav.html" %}

{% block title %}
	<title>About</title>
{% endblock %}

{% block content %}
<div class="about-title">
  <h3>My name is Simon.</h3>
  <hr size="3" width="75%">
</div>
<div class="about">
  <div class="about-text">
    <p>I was born and raised in Bloomington, Indiana and Studied Sociology and Anthropology
      at Green Mountain College in Southern Vermont. I have a passion for visual storytelling
      and media production.
      <br>
      <br>
      Throughout my time in visual media I have had the pleasure of working
      on projects with a variety of visions to create interesting and useful products.
      My process is story oriented and serves to develop a distinct and functional result.
      I strive to create media that engages and intrigues.
    </p>
  </div>
  <div class="title-photo">
    <img src="static/imgs/about/{{about_img}}" alt="static/imgs/about/{{about_img}}" class="about-photo">
  </div>

</div>

{% endblock %}
