{% extends "nav.html" %}

{% block title %}
	<title> Simon Schonemann-Poppeliers </title>
{% endblock %}

{% block content %}
<div class="container gallery-container">

    <h1 class="display-4">My Work</h1>

    <p class="page-description text-center"></p>

    <div class="tz-gallery">

    	<div class="row mb-3">
		    <div class="col">
	        	{%for img in left%}
	        		<div class="row mb-3">
			            <div class="col-12">
			                <div class="card">
			                    <a class="lightbox" href="static/imgs/home/left/{{img}}">
			                    <img src="static/imgs/home/left/{{img}}" alt="static/imgs/home/left/{{img}}" class="card-img-top">
			                    </a>
			                </div>
			            </div>
		            </div>
		        {% endfor %}
		    </div>
		    <div class="col">
	        	{%for img in middle%}
	        		<div class="row mb-3">
			            <div class="col-12">
			                <div class="card">
			                    <a class="lightbox" href="static/imgs/home/middle/{{img}}">
			                    <img src="static/imgs/home/middle/{{img}}" alt="static/imgs/home/middle/{{img}}" class="card-img-top">
			                    </a>
			                </div>
			            </div>
		            </div>
		        {% endfor %}
		    </div>
		    <div class="col">
	        	{%for img in right%}
	        		<div class="row mb-3">
			            <div class="col-12">
			                <div class="card">
			                    <a class="lightbox" href="static/imgs/home/right/{{img}}">
			                    <img src="static/imgs/home/right/{{img}}" alt="static/imgs/home/right/{{img}}" class="card-img-top">
			                    </a>
			                </div>
			            </div>
		            </div>
		        {% endfor %}
		    </div>
		  </div>
		</div>
  </div>
{% endblock %}
