<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type=text/javascript src="{{url_for('static', filename='static/nav.js')}}"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/gallery-fluid.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
	<link rel="stylesheet" href="fluid-gallery.css">
  {% block title %}

  {% endblock %}
</head>
<body>
	<div id="navbar">
		<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
		    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Simon Schonemann-Poppeliers</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
		        <ul class="navbar-nav w-100 justify-content-center">
		            <li class="nav-item">
		                <a class="nav-link" href="/photo">Photo</a>
		            </li>
		            <li class="nav-item active">
		                <a class="nav-link" href="/home">Home</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">Video</a>
		            </li>
		        </ul>
		        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
		            <li class="nav-item">
		                <a class="nav-link" href="#">About</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">Contact</a>
		            </li>
		        </ul>
		    </div>
		</nav>
	</div>
  {% block content %}

  {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>baguetteBox.run('.tz-gallery');</script>
</body>
</html>
