body {
    background-color: #FFFFFF;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 5px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;``
    min-height: 100vh;
    padding-top: 30px;
}

.gallery-container p.display-4 {
    font-weight: 250;
}

.tz-gallery {
    padding: -10px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 12px;
    padding-bottom: 0;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 13px;
    margin-left: 13px;
    opacity: 0;
    color: #fff;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(230, 230, 230, 0.5);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: .8;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.nav-item .active {
    fill: 000000;
}

.nav-item {
    font-size: 20px;
    font-weight: 200;
}

.navbar {
  top: 0;
  width: 100%;
  transition: top 0.5s;
}
.navbar-nav {
  padding-right: 50px;
  margin-left: -100px;
}
.navbar-brand {
  font-family:proxima-nova;
  font-weight:400;
  font-size: 50px;
  font-style:normal;
  padding-left: 10px;
  margin-top: 70px;
}
.collapsingNavbar3 {
  right: 0;
  display: flex;
  justify-content: space-around;
}
.navbar-toggler-icon {
  right: 0;
}
.tags {
  display: flex;
  justify-content: space-around;
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 30px;
  font-style:normal;
  padding-bottom: 10px;
}
.photo-link {
    color: black;
}
.photo-link:hover {
    color: grey;
}
.scrolling-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video {
  flex: 0 0 auto;
  padding: 15px;
}
.vid {
  width: 560px;
  height: 315px;
  padding: 15px;
}
.about {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.about-title {
  text-align: center;
  padding-top: 20px;
}
.about-text {
  display: flex;
  margin: 20px;
  padding-left: 100px;
}
.title-photo {
  padding-right: 100px;
}
.contact {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.contact-title {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.contact-text {
  display: flex;
  justify-content: space-around;
}
.contact-photo {
  display: flex;
  justify-content: space-around;
}
.doc {
  margin: 50px;
  padding-left: 50px;
  padding-left: 50px;
  align-items: center;
  justify-content: space-around;
}
.doc-title {
  text-align: center;
  padding-top: 20px;
}
.doc-text {
  text-align: center;
  display: flex;
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-around;

}
.footer {
  display: flex;
  justify-content: space-around;
}

.social {
  width: 70px;
  height: auto;
  padding: 20px;
  margin-bottom: 30px;
}
.social:hover {
    opacity: .5;
    transition: opactity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}
.photography-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo-item .active {
    fill: 000000;
}
.photo-item {
  font-family: proxima-nova;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-style:normal;
  font-weight: 300;
  transition: top 0.5s;
}


@media screen and (max-width: 900px) {
  .navbar-toggler a.icon {
    right: 0;
    top: 0;
    }
  .navbar-toggler a {
    float: none;
    display: block;
    text-align: right;
    }
  .navbar-brand {
    font-size: 38px;
    }
  .vid {
    width: 315px;
    height: auto;
    }
  .about-photo {
    width: 200px;
    height: auto;
    }
}
@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 28px;
    line-height: 1;
    }
  .about-photo {
    width: 100px;
    height: auto;
    }
}
@media screen and (max-width: 760px) {
    .navbar-nav {
      display: inline-block;
      align-items: stretch;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .collapsingNavbar3 {
      display: inline-block;
      align-items: stretch;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .nav-item {
      display: inline-block;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    }
    .about-photo {
      width: 250px;
      height: auto;
    }
}
@media screen and (max-width: 1000px) {
  .about-text {
    padding-left: 10px;
    padding-right: 20px;
    margin: 0;
    }
  .title-photo {
    padding-right: 10px;
    }
}
